html, body {
    height: 100%;
    background-color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
#image {
    stroke-dasharray: 1309;
    animation: 4s fillSvg linear;
    animation-delay: 4s;
    opacity: 0;
}

@keyframes fillSvg {
    0% {
        opacity: 100;
        stroke-dashoffset: 1309;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

#heart_3d {
    display: none;
}

#scene_container {
    display: none;
}
