body {
    font-family: 'Great Vibes', cursive;
    padding: 0;
    margin: 0;
}
#one {
    width: 100vw;
    height: 100vh;
    font-size:38px; 
    letter-spacing: 6px; 
    font-weight: bold;
    background-image: url('image/bg.jpeg');
}
#btn {
    padding: 7px 10px;
    background-color: hotpink;
    font-size:30px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10%;
}
#typewriter{
    width: 50%;
    padding-top: 6%;
    margin-left: auto;
    margin-right: auto;
}

#canvas{
    position: absolute;
    top: 0;
    left: 0;
}

.abc { 
    text-align: center;
}

#next, #next_2 {
    font-size: 40px;
    width: max-content;
    position: absolute;
    bottom: 1%;
    border: none;
    background-color: transparent;
    display: none;
    left: 50%;
    right: 50%;
}

#next i, #next_2 i {
    color: rgb(255, 166, 0);
    animation: 0.5s updown linear infinite;
    cursor: pointer;
}

@keyframes updown {
    0% {
        margin-bottom: 12px;
    }
    100% {
        bottom: 1%;
    }
}

#two {
    display: none;
    width: 100vw; 
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

#page_2 {
    width: 100%; 
    height: 95%
}
#img1 {
    width: 15%;
    border-radius: 10px;
    transform: rotate(20deg);
    position: absolute;
    left: 5%;
    top: 5%
}

#img2 {
    width: 15%;
    border-radius: 10px;
    transform: rotate(-20deg);
    position: absolute;
    right: 5%;
    top: 5%
}

#img3 {
    width: 15%;
    border-radius: 10px;
    transform: rotate(-20deg);
    position: absolute;
    left: 15%;
    bottom: 5%
}

#img4 {
    width: 17%;
    border-radius: 10px;
    transform: rotate(20deg);
    position: absolute;
    right: 15%;
    bottom: 5%
}

#img5 {
    width: 15%;
    border-radius: 10px;
    transform: rotate(10deg);
    position: absolute;
    right: 45%;
    bottom: 5%
}

#img6 {
    width: 10%;
    border-radius: 10px;
    transform: rotate(15deg);
    position: absolute;
    top: 35%;
    right: 5%;
}

#three {
    display: none;
    width: 100vw; 
    height: 100vh;
    overflow: hidden;
}
#page_3 {
    width: 100%; 
    height: 100%
}
